<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{{ settings.APP_NAME }}{% endblock %}</title>

<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    crossorigin="anonymous">

<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css"
    crossorigin="anonymous">

<link rel="stylesheet"
    href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"
     crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
    crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.7/webcomponents-loader.js"
  crossorigin="anonymous"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.js"
  crossorigin="anonymous"></script>

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
</head>

<body>
<div class="jumbotron"></div>

<nav class="navbar">
  {% block nav %}
    <nav class="navbar">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bid">Bid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kittywallet">Kittywallet</a>
        </li>
      </ul>
    </nav>
  {% endblock %}
</nav>

<div class="container">
  {% block auth %}
    <p class='auth-status'>
      {% if user.is_authenticated %}
        You are now logged in, click here to <a href='/accounts/logout?next=/'>logout</a>.
      {% else %}
        You need to login first.
      {% endif %}
    </p>
  {% endblock %}
</div>

<div class="container">
  {% block coins %}
  {% endblock %}
</div>

<div class="container">
  <div class="flex">
    <div>
      {% block left %}
      {% endblock %}
    </div>
    <div>
      {% block middle %}
      {% endblock %}
    </div>
    <div>
      {% block right %}
      {% endblock %}
    </div>
  </div>
</div>

<div class="container">
  {% block content %}
  {% endblock %}
</div>

</body>
</html>