{% extends "base_kittycards.html" %}

{% block content %}
  <br>
  <p>Welcome to Kittycards, Xudan's first kitty pictures auction platform :))</p>
  <p>
    You are given 3 initial Kittycards upon first login.
    Visit <a href='/bid'>Bid</a> to list your Kittycards for sale, remove active listings, and place bids on other active listings.
    Each bid lasts for 5 minutes, if a bid stays the most recent bid for more than 5 minutes, the bidder pays listed price and gets the Kittycard.
    Refresh your page often to view most recent bid status!
  </p>
  <p>
    You are given 1000 Kittycoins upon first login.
    Visit <a href='/kittywallet'>Kittywallet</a> to get more Kittycoins (max 10,000).
  </p>
  <p>Enjoy!</p>
{% endblock %}